 body{
     color: grey;
 }



  
#container{
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: auto;
     margin-left: auto;
     box-shadow: 0px 0px 8px 3px wheat;
     
}
input:focus{
    outline: none;
    
}
input{
    border: 0;
}

select{
    border: 0;
}
select:focus{

      outline: none;
}

/* header */

#header{
      text-align: center;
      border-bottom: 1px solid black;
      box-shadow: 0px 0px 85px -52px lightblue inset;
}

#desc{

      width: 100%;
      border-bottom: 1px solid black;
}
#desc input {

     height: 5vh;
     width: 100%;
     border: 0;
}
#category-date-container{
    display: flex;
    border-bottom: 1px solid black;
    /* justify-content: space-around; */
    height: 8vh;

}
#category-box{
    background-color: white;
      width: 50%;
      display: inline-flex;
      flex-direction: column;
}
#date-picker{
    background-color: white;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid black;
    /* align-items: center; */
    padding: 5px;
    width: 50%;
}


#add-del-container{
    display: flex;
    background-color: white;
}

#add-del-container {

      display: flex;
      justify-content: space-around;
      height: 8vh;
      align-items: center;
      align-self: center;
}
#btn-add{
      display: block;
      margin: 4px;
      background-color: black;
      color: white;
      height: 4vh;
      padding: 8px;
      border-radius: 10px;
     
      
    }
#btn-add:hover{
    cursor: pointer;
    
}
#submit-btn{
    border: 0;
    background-color: white;
}

#submit-btn:focus{
    outline: none;
    
  
}

#btn-del{
    display: block;
    margin: 4px;
    background-color: red;
    color: white;
    height: 4vh;
    padding: 8px;
    border-radius: 10px;
}

#btn-del{
    cursor: pointer;
}

#tasks-container{

    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 8px 3px wheat;
}

a{
    text-decoration: none;
}



.task{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: turquoise;
    border: 1px solid grey;
    align-items: center;

}
.task-desc{
    flex-grow: 6;
    color:black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.task-category{
    color: black;
    font-size: 1.2rem;
    width: 10%;
    margin-left: -25vw;
    flex-grow: 1;
    text-align: center;
    border-top-left-radius:10px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.task-category span{
    
      height: inherit;
      width: 80%;
}
.task-date-desc {
    font-size: 0.8rem;
    margin-left: -3vw;
    vertical-align: -20
}
.active {
     background-color: lightgrey;
}

.checkbox:checked{

    background-color: lime;
}
.checkbox:hover{
    cursor: pointer;
}

.checkbox:checked ~ .task-desc {
     text-decoration: line-through;
     color: red;
}